#sitetoastpopup {
    font-size: 1em !important;
    font-family: sans-serif;
    position: fixed;
    /*right: 20px;*/
    bottom: -100px;
    /*width: 320px;*/
    /*background: #FCFF90;*/
    z-index: 999;
    /*padding: 15px;*/
    font-size: 200%;
    /*box-shadow: 0 0 10px -2px #000;*/
    text-align: center;
    
    /* Testing */
    color: #ffffff;
    width: 100%;
    left: 0;
    right: 0;
    padding: 10px 0;
    background: #ea7125;

}

#sitetoastpopup .closer {
    position: absolute;
    right: -3px;
    top: -4px;
    font-family: sans-serif;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
    padding: 2px 10px;
}

#sitetoastpopup a {
    color: #fff;
    text-decoration: underline !important;
}

@media screen and (max-width:1023px){
    #sitetoastpopup {
        display:none;
    }
}